# Nuxt dev/build outputs
.nitro
.cache

# Generated dirs
dist
.nuxt
.nuxt-*
.output
.gen

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
#.env.*

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

# Node dependencies
node_modules

# System files
*.log

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history
.ionide

# Built Visual Studio Code Extensions
*.vsix

### Vuejs ###
node_modules/
dist/
npm-debug.log
yarn-error.log
